body{
    background-color:rgb(39, 39, 39);
}
.paragraph{
    margin: 10px;
}
.box{
    margin: auto;
    padding: 50px;
    background-color: rgb(14, 14, 14);
    border: 2px solid rgb(45, 0, 168);
    border-radius: 5px;
    width: fit-content;
}
h1,h2,p{
    color: rgb(184, 184, 184);
    margin: 5px;
}
hr{
    margin:20px 0;
}
